<div class="fixed inset-0 bg-base-100 z-[99999] flex items-center justify-center"
     [ngClass]="{ 'animate-overlayOut': fadeOut, 'animate-overlayIn': !fadeOut }">
  <!-- Flare animación de fondo -->
  <div class="absolute inset-0 pointer-events-none flare-animation"></div>

  <!-- Contenido del Splash -->
  <div class="bg-base-100 rounded-box shadow-xl p-8 flex flex-col items-center justify-center gap-6 sm:gap-8"
       [ngClass]="{ 'animate-fadeOutZoom': fadeOut, 'animate-fadeInZoom': !fadeOut }">

    <!-- Branding -->
    <app-logo class="scale-125 sm:scale-150"></app-logo>

    <!-- Spinner y mensaje -->
    <div class="flex flex-col items-center gap-4 text-center">
      <span class="loading loading-spinner text-success"></span>

      <p class="relative text-base-content text-sm sm:text-base md:text-lg font-medium animate-fadeInText leading-snug">
        Cargando plataforma inteligente
        <span class="dots-animation" aria-hidden="true"></span>
      </p>
    </div>

  </div>
</div>
