# Angular - frontend
/tech-farming-frontend/node_modules/
/tech-farming-frontend/dist/
/tech-farming-backend/.angular/

# Python - backend
/tech-farming-backend/__pycache__/
/tech-farming-backend/.venv/
/tech-farming-backend/env/
/tech-farming-backend/*.pyc

# General
.env
*.log
.DS_Store