# Angular - frontend
/tech-farming-backend/node_modules/
/tech-farming-backend/dist/
/tech-farming-backend/.angular/

# Python - backend
/tech-farming-frontend/__pycache__/
/tech-farming-frontend/.venv/
/tech-farming-frontend/env/
/tech-farming-frontend/*.pyc

# General
.env
*.log
.DS_Store