<!-- src/app/sensores/sensores.component.html -->
<section class="vista min-h-screen scroll-smooth px-4 sm:px-10 lg:px-16 space-y-[2.618rem]">
  <app-sensor-header />

  <app-sensor-filters />

  <app-sensor-table
    [sensores]="sensores"
    [ultimasLecturas]="ultimasLecturas"
    [invernaderos]="invernaderos"
    [tiposSensor]="tiposSensor"
    (view)="open('view',$event)"
    (edit)="open('edit',$event)"
    (delete)="open('delete',$event)">
  </app-sensor-table>

  <app-sensor-card-list [sensores]="sensores" />

  <ng-container *ngIf="modalType">
    <app-sensor-modal-wrapper>
      <ng-container [ngSwitch]="modalType">
        <app-sensor-edit-modal   *ngSwitchCase="'edit'"></app-sensor-edit-modal>
        <app-sensor-delete-modal *ngSwitchCase="'delete'"></app-sensor-delete-modal>
        <app-sensor-view-modal   *ngSwitchCase="'view'"></app-sensor-view-modal>
        <app-sensor-create-modal *ngSwitchCase="'create'"></app-sensor-create-modal>
      </ng-container>
    </app-sensor-modal-wrapper>
  </ng-container>
</section>
