.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
  color: #174C3C;
}

.nav-link:hover {
  background-color: #DCFCE7;
  color: #145C44;
}

.nav-link.active {
  background-color: #145C44;
  color: #FFFFFF;
}
