<section class="vista min-h-screen scroll-smooth px-4 sm:px-10 lg:px-16 space-y-[2.618rem]">
  <!-- Header con nombre de la página y botones de acción -->
  <app-invernadero-header />

  <!-- Filtros visuales -->
  <app-invernadero-filters />

  <!-- Tabla de escritorio -->
  <app-invernadero-table [invernaderos]="invernaderos" class="hidden md:block" />

  <!-- Tarjetas móviles -->
  <app-invernadero-card-list [invernaderos]="invernaderos" class="block md:hidden" />

  <!-- Modales: Crear invernadero -->
  <ng-container *ngIf="modalType">
    <app-invernadero-modal-wrapper>
      <ng-container [ngSwitch]="modalType">
        <app-invernadero-create-modal *ngSwitchCase="'create'" />
      </ng-container>
    </app-invernadero-modal-wrapper>
  </ng-container>
</section>
