<section class="vista min-h-screen scroll-smooth px-4 sm:px-10 lg:px-16 space-y-[2.618rem]">
    <!-- Header con nombre de la página y botones de acción -->
    <app-zona-header />
  
    <!-- Componente de filtros separado (pendiente de implementar) -->
    <!-- <app-zona-filters /> -->
  
    <!-- Carrusel o listado de zonas (pendiente de implementar) -->
    <!-- <app-zona-card-list [zonas]="zonas" /> -->
  
    <!-- Modales de acción: crear, ver, editar zona -->
    <ng-container *ngIf="modalType">
        <app-zona-modal-wrapper>
          <ng-container [ngSwitch]="modalType">
            <app-zona-create-modal *ngSwitchCase="'create'" />
          </ng-container>
        </app-zona-modal-wrapper>
      </ng-container>
  </section>
  